{% extends 'base.html.twig' %}

{% block title %}Zaloguj się{% endblock %}

{% block body %}
    <div class="container text-center" style="width: 40%;">
<form method="post" class="text-center">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
         Zalgoowano jako {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Wyloguj się</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Zaloguj się</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mt-1" autocomplete="email" required autofocus>
    <label for="inputPassword" class="mt-2">Hasło</label>
    <input type="password" name="password" id="inputPassword" class="form-control mt-2" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="btn btn-lg btn-primary mt-3" type="submit">
        Zaloguj się
    </button>
</form>
        <p class="mt-4">Zapomniałeś hasła? <a href="{{ path('app_forgot_password_request') }}">Resetuj Hasło</a></p>
        <p>Nie masz jeszcze konta? <a href="{{ path('app_register') }}">Zarejestruj się</a></p>
</div>
{% endblock %}
